.App {
  background-color: rgb(233, 233, 233);
}

html {
  background-color: rgb(233, 233, 233);
}

.header-container {
  background-color: #f12626;
}

.header-container a {
  color: white;
}

.body-container {
  background-color: white;
}

.profilePicture {
  position: absolute;
  top: 15%;
}

.profileInfo {
  height: 30px;
}

.cardInfo {
  height: 20px;
}

.cardBody {
  width: 100%;
  white-space: nowrap;
  margin: 5px 0px 5px 0px;
}

.selectedDriver {
  font-weight: bold;
  background-color: #f12626 !important;
  color: white;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}

@media only screen and (max-width: 600px) {
  .table {
    font-size: x-small;
  }

  .profilePicture {
    position: absolute;
    top: 30%;
  }
}

@media only screen and (min-width: 600px) {
  .profileInfo {
    text-align: justify;
    direction: rtl;
    float: right;
  }

  .body-container {
    margin-top: 3em;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 8%;
    opacity: 10;
  }

  .carousel-control-next:hover,
  .carousel-control-prev:hover {
    background-color: rgb(235, 235, 235);
  }

  .carousel-control-next span,
  .carousel-control-prev span {
    height: 40px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: #f12626 !important;
  }
}
