.bold {
  font-weight: bold;
}

.profilePicture {
  position: absolute;
  top: 15%;
}

@media only screen and (max-width: 600px) {
  .table {
    font-size: x-small;
  }

  .profilePicture {
  position: absolute;
  top: 30%;
}
}
