.App {
  background-color: rgb(233, 233, 233);
}

.header-container {
  background-color: #f12626;
}

.header-container a {
  color: white;
}

.body-container {
  background-color: white;
  margin-top: 3em;
}

.selectedDriver {
  font-weight: bold;
  background-color: #f12626 !important;
  color: white;
}

.profilePicture {
  position: absolute;
  top: 15%;
}

@media only screen and (max-width: 600px) {
  .table {
    font-size: x-small;
  }

  .profilePicture {
    position: absolute;
    top: 30%;
  }
}
